    </main>
    <footer class='bg-dark container-fluid'>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h3 class='text-center text-white pt-3'>Menu</h3>
                <div class="d-flex justify-content-center algin-items-center">
                    <ul class="list-unstyled text-center">
                        <li class="my-1"><a class="text-decoration-none text-white" href="/">Home</a></li>
                        <% if(loggedUser){ %>
                        <li class="my-1"><a class="text-decoration-none text-white" href="/reviews">Reviews</a></li>
                        <li class="my-1"><a class="text-decoration-none text-white" href="/logout">Log out</a></li>
                        <% } else { %>
                        <li class="my-1"><a class="text-decoration-none text-white" href="/signin">Sign In</a>
                        </li>
                        <li class="my-1"><a class="text-decoration-none text-white" href="/signup">Sign up</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 my-2">
                <div class="d-flex align-items-center justify-content-center">
                    <img class='w-75 mt-5' src="/assets/drink-responsibly.png" alt="responsability">
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <h3 class='text-white pt-3'>Contact</h3>
                <ul class="list-unstyled">
                    <li><i class="fab fa-facebook text-white fs-1 my-2"></i></li>
                    <li><i class="fab fa-instagram text-white fs-1 my-2"></i></li>
                </ul>
            </div>
            <h6 class="col-12 text-white text-center">Copyright © All Rights Reserved</h5>
        </div>
    </footer>
    <script src="/bootstrap.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>