<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>


<div class="row">
    
    <div class='imgForm d-flex justify-content-center align-items-center'>
        
        <div >
            <form action="/" method="POST" class="my-2 d-flex align-items-center justify-content-center flex-column ">
                <h1>SOY ADMIN :D</h1>
                <input class="inputComments my-2" placeholder="add a photo" type="text" name="photo" type="text" value=''
                    required />
                <input class="inputComments my-2" placeholder="Add a title" name="title" type="text" value='' required />
                <input class="inputComments my-2" placeholder="Add some text" name="text" type="text" value='' required />
                <input type="hidden" name="_id" value="">
                <input type="submit" value='Send' class='sendButton px-2 mx-2 my-1' onclick="someAlert()">
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>