<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class='errorPage d-flex justify-content-center text-center' style="background-image: url(/assets/error.png);">
    <div clas='my-2 text-center'>
        <h2>Error!</h2>
        <button type="button" class="btn btn-primary btn-lg bg-gradient"> <a class='text-dark text-decoration-none shadow ' href="/">Go Home</a></button>
    </div>    
</div>
<%- include('partials/footer.ejs') %>